Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Mannequin/
Content/ThirdPerson/
Content/VirtualReality/
Content/VirtualRealityBP/
Content/ThirdPersonBP/
Content/InfinityBladeWarriors/
